@import "user-nav-css.css";

main{
  height:500px;
}
main h2{
  font-size: 28px;
  margin:20px 0;
}
ul{
  margin-top:40px;
  margin-bottom:50px;
}

input{
  width: 180px;
  height: 20px;
  font-size: 17px;
  margin-top:13px;
  margin-left:30px;
}
select{
  font-size:17px;
  margin-left:30px;
}
label{
  margin:0 0 0 49px;
  font-size:18px;
}
input:last-child{
  height:25px;
}

input[type='file']{
  width:220px;
}
