@import "user-nav-css.css";

main{
  height:520px;
}
.status{
  font-size: 25px;
  text-align: center;
  margin-top:60px;
}
.status span{
  font-weight: bold;
  color:green;
}
form p{
  text-align: center;
  font-size: 20px'
}

/* #pet_info{
  display:none;
} */
