@import "user-nav-css.css";

main{
  height:700px;
}
#pet_info input{
  box-sizing: border-box;
  width: 180px;
  height: 25px;
  font-size: 17px;
}
#pet_info input:last-child{
  width: 220px;
}
select{
  font-size:17px;
}
