header{
  text-align: center;
  background-color:lightyellow;
  height:130px;
}
body{
  background-color:#f7f7f7;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}
#logo{
  border-radius:50%;
  margin: 10px 20px 25px 50px;
  width:80px;
}

h1{
  display:inline-block;
  vertical-align:top;
  margin:35px auto;
  font-size: 39px;
  border-bottom:7px solid #f7f020;
  border-radius: 10px;
}
#slider img{
  width:750px;
  height:500px;
  margin-left:100px;
  margin-top:70px;
  border:1px solid ;
  border-radius:6px;
  transition:1s;
}
form{
  position:absolute;
  border:2px solid #f7f7f7;
  right:200px;
  top:250px;
  width:15%;
  border-radius:2%;
  padding:1px 40px 60px 40px;
  background-color: #f7f7f7;
  box-shadow: 0 10px 13px 0 rgba(0,0,0,0.2), 0 13px 16px rgba(0,0,0,0.15);

}
.form-container{
  margin-top:-10px;
}
form h2{
  font-size: 30px;
  font-weight: bold;
  text-align:center;
  padding-bottom:5px;
  border-bottom: 3px solid #2b2b2b;
}
label{
  font-size:20px;
  display:block;
  padding:10px;
}
input{
  display:block;
  width:80%;
  height:20px;
  padding:5px;
  font-family:cursive;
  font-size:18px;
  margin-bottom:15px;
}
.form_elements{
  position:relative;
}
.err_msg{
  position: absolute;
  display: block;
  color: red;
  top: 78px;
}
.buttons{
  position:relative;
  margin-top:20px;
  height:20px;
}
#caution{
  font-size:15px;
  font-weight:lighter;
  color:darkred;
}
.btn{
  position:absolute;
  top:10px;
  width:110px;
  height:37px;
  font-family: system-ui;
  font-size: 16px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  border:none;
  border-radius:10px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}
.login{
  left:0;
  background-color: #00ce2c;
}
.signup{
  right:0;
  background-color: #3d87ff;
}
.btn:hover{
    transition:.5s;
}
.login:hover{
  background-color:#01b228;
}
 .signup:hover{
   background-color:#0c69ff;
 }
 button:focus{
   outline:none;
 }
.wrap{
  box-sizing:border-box;
  background: linear-gradient(to left,#ffffb5,#cdffc1 70%);
  min-height:calc(100vh - 130px - 60px);
}
.wrapper{
  min-height:calc(100vh - 60px);
}
footer{
  position:relative;
  background-color:lightyellow;
  margin-bottom:0;
  width:100%;
  height:60px;
}
footer p{
  font-size:20px;
  font-weight:normal;
  display: inline-block;
  margin-left: calc(50vw - 88px);
}
footer button{
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  border: none;
  width: 27px;
  height: 27px;
  background-color: #a50002;
  color: white;
}
footer button:hover{
  border: 1px solid black;
  background-color: #d40d0f;
}
footer button:focus{
  outline:none;
}
