header{
  position: relative;
  text-align: center;
  background-color:#dfe8ff;
  height:130px;
}
.head{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
body{
  background-color:#f7f7f7;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}
#logo{
  border-radius:50%;
  margin: 15px 20px 25px 0;
  width:80px;
}

h1{
  display:inline-block;
  vertical-align:top;
  margin:35px auto;
  font-size: 39px;
  border-bottom:7px solid #f7f020;
  border-radius: 10px;
}
#slider{
  width:100vw;
  height:calc(100vh - 130px - 60px);
}
#slider img{
  width:100vw;
  height:calc(100vh - 130px - 60px);
  filter:blur(10px);
}
.wrapper{
  min-height:calc(100vh - 60px);
}
form{
  position: absolute;
  z-index: 1;
  border: 2px solid #000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 330px;
  border-radius: 2%;
  padding: 10px 40px 90px 40px;
  background-color: #ffffff;
  box-shadow: 0 10px 13px 0 rgba(0,0,0,0.2), 0 13px 16px rgba(0,0,0,0.15);
}
form h2{
  color: seagreen;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid seagreen;
}
label{
  color:#5d5d5d;
  font-size:20px;
  display:block;
  padding:10px;
}
input{
  display:block;
  width:80%;
  height:20px;
  padding:5px;
  border:1px solid #5d5d5d;
  font-family:cursive;
  font-size:18px;
  margin-bottom:15px;
}
.err_msg{
  position: absolute;
  display: block;
  color: red;
  top: 78px;
}
.buttons{
  position:relative;
  margin-top:25px;
  height:20px;
}
#caution{
  font-size:15px;
  font-weight:lighter;
  color:darkred;
}
.btn{
  position:absolute;
  top:20px;
  width:110px;
  height:37px;
  font-family: system-ui;
  font-size: 16px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  border:none;
  border-radius:10px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}
.login{
  left:80px;
  background-color: #00ce2c;
}
.signup{
  right:0;
  background-color: #3d87ff;
}
.btn:hover{
    transition:.5s;
}
.login:hover{
  background-color:#01b228;
}
 .signup:hover{
   background-color:#0c69ff;
 }
 button:focus{
   outline:none;
 }
footer{
  position:relative;
  background-color:#dfe8ff;
  margin-bottom:0;
  width:100%;
  height:60px;
}
footer p{
  font-size:20px;
  font-weight:normal;
  display: inline-block;
  margin-left: calc(50vw - 88px);
}
footer button{
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  border: none;
  width: 27px;
  height: 27px;
  background-color: #a50002;
  color: white;
}
footer button:hover{
  border: 1px solid black;
  background-color: #d40d0f;
}
footer button:focus{
  outline:none;
}

@media(max-width:525px)
{
  #slider{
    display: none;
  }
  form{
    width: 100%;
    height:calc(100vh - 130px - 60px);
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }
  form h2{
    margin: 60px 40px 45px 40px;

  }
  .form-container{
    margin:0 50px;
  }
  input{
    width:90%;
    margin:0 auto 20px auto;
    padding:7px;
  }
  .login{
    left:40%;
    /* transform: translateX(-50%); */
  }
  .signup{
    right:10%;
  }
}
