@import "user-nav-css.css";

#keys li{
  display: inline-block;
  margin: 8px 10px 0 30px;
  padding-right: 40px;
  border-right: 1px dashed gray;
  list-style: none;
  font-weight: bold;
  width: 73%;
  font-size: 18px;
}
#keys{
  position:absolute;
  width:50%;
}
#values{
  position:absolute;
  width:50%;
  right:0;
}
#values li{
  display: inline-block;
  margin: 8px 0 0 0;
  padding-right: 40px;
  list-style: none;
  width: 73%;
  font-size: 18px;
}
