header{
  background-color:lightyellow;
  height:130px;
}
body{
  background-color:#f7f7f7;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}
#logo{
  border-radius:50%;
  margin: 10px 20px 25px 50px;
  width:80px;
}
h1{
  display:inline-block;
  vertical-align:top;
  margin:35px auto;
  font-size: 39px;
  border-bottom:7px solid #f7f020;
  border-radius: 10px;
}
.wrapper{
  height:calc(100vh - 60px);
}
.result{
  display: none;
  text-align: center;
  vertical-align: baseline;
  width: 70%;
  height: 35px;
  font-family: monospace;
  font-size: 23px;
  font-weight: bold;
  border-radius: 20px;
  margin: 50px auto 0 auto;
  color: white;
  background: #5ee25e;
}
.result span{
  vertical-align: sub;
}
form{
  margin:10px auto;
  border:2px solid #f7f7f7;
  width:50%;
  border-radius:2%;
  padding:1px 40px 35px 40px;
  background-color: white;
  box-shadow: 0 10px 13px 0 rgba(0,0,0,0.2), 0 13px 16px rgba(0,0,0,0.15);
}
form h2{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #9085b1;
  color: gray;
}
input{
  display:block;
  width:50%;
  height:30px;
  padding:5px;
  margin:35px auto;
  font-family:cursive;
  font-size:18px;
}
.form_elements{
  position:relative;
}
.err_msg{
  position: absolute;
  display: block;
  color: red;
  left: 25%;
  top: 45px;
}
.btn{
  width:110px;
  height:37px;
  margin:10px;
  font-family: system-ui;
  font-size: 18px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  border:none;
  border-radius:10px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}
.submit{
  background-color: #e64a4a;
  margin-left:64%;
}
#back{
  font-size: 21px;
  color: #636363;
  margin: 45px;
  vertical-align: -webkit-baseline-middle;
}
.btn:hover{
    transition:.5s;
}
.submit:hover{
 background-color: #d23232
}
button:focus{
 outline:none;
}
footer{
  position:relative;
  background-color:lightyellow;
  margin-bottom:0;
  width:100%;
  height:60px;
}
footer p{
  font-size:20px;
  font-weight:normal;
  display: inline-block;
  margin-left: calc(50vw - 88px);
}
footer button{
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  border: none;
  width: 27px;
  height: 27px;
  background-color: #a50002;
  color: white;
}
footer button:hover{
  border: 1px solid black;
  background-color: #d40d0f;
}
footer button:focus{
  outline:none;
}
