h1{
  vertical-align: top;
  margin-top:-5px;
  margin-left:15px;
  font-size: 35px;
}
#logo{
  border-radius:50%;
  margin: 10px 20px 0 30px;
  width:80px;
}
.vertical-nav{
  border-top:5px solid orange;
  border-bottom:5px solid green;
  float:left;
  width:17%;
  padding-bottom: 50px;
  margin-left:60px;
  margin-top:150px;
}
.vertical-nav p{
  margin-left: 60px;
  font-size:22px;
  font-weight: bolder;
  color:#828282;
}
.vertical-nav a{
  display:block;
  font-size:18px;
  border:1.6px solid lightblue;
  margin:9px 55px 0 60px;
  padding:7px 10px 7px 10px;
  text-decoration:none;
  background-color: white;
}
.vertical-nav a:hover{
  transition: 0.2s;
  transform:scale(1.05);
  border:1.5px solid black;
  color:black;
}
body{
  position: relative;
  background-color:#f7f7f7;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}
main{
  background-color:white;
  float:right;
  position:relative;
  width: 30%;
  height:650px;
  margin: 100px 500px 0 0;
  border: 1px solid black;
  padding-bottom:80px;
  box-shadow:0 6px 9px 0 rgba(0,0,0,0.7);
}
main h2{
  margin:326px 70px 0 70px;
  background-color:#b5d1ff;
  text-align:center;
}
main img{
  width:300px;
  border:3px solid black;
  border-radius:5%;
  position:absolute;
  top:20px;
  left:130px;
}
ul{
  margin-top:30px;
}
ul li{
  display:inline-block;
  margin:10px 10px 0 10px;
  padding-right:40px;
  list-style: none;
  font-weight:bold;
  width:29%;
  font-size: 18px;
}
button[type="submit"]{
    position: absolute;
    left: 340px;
    bottom: 25px;
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #e52929;
    color: white;
    font-family: unset;
    box-shadow: 0 6px 5px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
}
button[type="submit"]:hover{
  background-color: #ce1a1a;
}

button[type="button"]{
  position: absolute;
    right: 50px;
    bottom: 25px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: slategray;
    color: white;
    font-family: unset;
    box-shadow: 0 6px 5px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
}
button[type="button"]:hover{
  background-color: #696c72;
}
.user_profile h3{
  margin:7px 0;
}
.user_profile a{
  display: block;
  font-size: 18px;
  border: 1.5px solid black;
  margin: 30px 0 15px 0;
  padding: 4px 20px;
  text-decoration: none;
  background-color: white;
}
.user_profile{
  position: absolute;
  top: 100px;
  right: 60px;
  float: right;
  padding: 5px 50px;
  font-size: 20px;
  background-color: white;
  margin: 10px 0px 100px 13%;
}
