h1{
  vertical-align: top;
  margin-top:-5px;
  margin-left:15px;
  font-size: 35px;
}
#logo{
  border-radius:50%;
  margin: 10px 20px 0 30px;
  width:80px;
}
.vertical-nav{
  border-top:5px solid orange;
  border-bottom:5px solid green;
  width:17%;
  height: 410px;
    padding-bottom: 50px;
}
.vertical-nav p{
  font-size:22px;
  font-weight: bolder;
  color:#828282;
      margin-left: 60px;
}
.vertical-nav a{
  display:block;
  font-size:18px;
  border:1.6px solid lightblue;
  margin:9px 55px 0 60px;
  padding:7px 10px 7px 10px;
  text-decoration:none;
  background-color: white;
}
.vertical-nav a:hover{
  transition: 0.2s;
  transform:scale(1.05);
  border:1.5px solid black;
  color:black;
}
body{
  margin:0;
  padding-top:150px;
  background-color:#f7f7f7;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
main{
  position:relative;
  background-color:white;
  width: 30%;
  height:650px;
  border: 1px solid black;
  padding-bottom:70px;
  margin-top:-75px;
  box-shadow:0 6px 9px 0 rgba(0,0,0,0.7);
}
main h2{
  margin:0 70px;
  background-color:#b5d1ff;
  text-align:center;
  font-weight: 100;
}
main span{
  font-weight:bold;
}
main img{
  display:block;
  min-width: 200px;
  min-height: 200px;
  max-width: 250px;
  max-height: 250px;
  margin:15px auto;
}
/* #pet_image{

} */
#searchbox{
  position: relative;
}
#searchbox input{
  width: 100%;
  height: 35px;
  border-radius: 0;
  border:none;
  background-color:#f1f1f1;
  font-size: 20px;
  color:black;
  text-align: center;
}
#searchbox button{
  top: 1px;
  left: calc(100% - 100px);
  height: 35px;
  width: 100px;
  background-color: #c7ffd0;
  border-radius: 0;
  box-shadow: none;
  color: black;
}
#searchbox input:hover{
  background-color: #f7f7f7;
}
#searchbox button:hover{
    background-color: #b1efbb;
}
ul{
  margin-top:30px;
}
ul li{
  display:inline-block;
  margin:10px 10px 0 10px;
  padding-right:40px;
  list-style: none;
  /* font-weight:bold; */
  width:29%;
  font-size: 18px;
}
button,input:focus{
  outline:none;
}
button[type="submit"]{
  position: absolute;
  right: 150px;
  bottom: 25px;
  width: 80px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #e52929;
  color: white;
  font-family: unset;
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
}
button[type="submit"]:hover{
  background-color: #ce1a1a;
}

button[type="button"]{
  position: absolute;
  right: 40px;
  bottom: 25px;
  width: 70px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: slategray;
  color: white;
  font-family: unset;
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
}
button[type="button"]:hover{
  background-color: #696c72;
}
.user_profile{
  padding: 5px 50px;
  font-size: 20px;
  background-color: white;
  height: 150px;
  width: 125px;
}
.user_profile h3{
  margin:7px 0;
}
.user_profile a{
  display: block;
  font-size: 18px;
  border: 1.5px solid black;
  margin: 30px 0 15px 0;
  padding: 4px 20px;
  text-decoration: none;
  background-color: white;
}
